/*
  Buttons
 */

@mixin btn-age {
  width: 100%;
  background-color: #fff;
  color: #fa8a0c;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #fa8a0c;
  padding: 10px;
  transition: .3s ease-in-out;

    &:hover {
      background-color: #fa8a0c;
      color: #fff;
    }
}

/*
  Super classes
 */

@mixin container($wd, $hg, $pd, $back) {
  width: $wd;
  height: $hg;
  padding: $pd;
  background-color: $back;
}

@mixin flex($type, $just, $align, $gap) {
  display: flex;
  flex-direction: $type;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
}



/*
  Patterns
 */

@mixin transtion {
  transition: ease-in-out .2s;
}

@mixin title-page {
  font-size: 2.6rem;
  letter-spacing: .04rem;
  color: $text;
}

@mixin content-page {
  @include container(100%, 95%, 0, #FFF)
}

@mixin filter {
  @include container(100%, 15%, 0, transparent);

}

@mixin table {
  @include container(100%, 75vh, 10px 2vh, transparent);
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;


  thead {
    tr {
      background-color: #F4F4FB;
      height: 7vh;
      text-align: left;

      th {
        padding: 0 0 0 1vw;
        font-size: 1.2rem;
        font-weight: 700;
        color: $text-th;
        letter-spacing: .02rem;
      }
    }
  }

  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
  }

  tbody {
    display: block;
    height: 90%;
    overflow: auto;

    tr {
      border-bottom: 1px solid $table-tr-border;
      height: 6vh;

      &:nth-child(even) {
        background-color: $table-td-hover;
      }
      &:nth-child(odd) {
        background-color: transparent;
      }

      td {
        padding: 0 0 0 1vw;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: .02rem;
        color: $text-td;
      }
    }

  }
}

@mixin input-text {
  @include container(100%, 5vh, 5px 10px, #f4f4f4);
  border: none;
  border-radius: 2px;
  outline: none;
  transition: .3s ease-in-out;
  font-weight: 500;
  font-size: 1.6rem;
  color: $text;
  &:focus {
    background: $input-fcs;
  }
}

@mixin container-search {
  @include container(100%, initial, 10px 20px, #FFF);
  @include flex(row, space-between, center, 0);
  border: 2px solid #cccccc40;
  border-radius: 30px;
}

@mixin input-search {
  border: none;
  outline: none;
  transition: .3s ease-in-out;
  font-weight: 500;
  font-size: 1.6rem;
  color: $text;
  height: 100%;
}

@mixin static-td {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}

@mixin sucess {
  background-color: #DDF1DD;
  color: #2CA62D;
}

@mixin pendent {
  background-color: #D7F1FF;
  color: #02B1FF;
}

@mixin failure {
  background-color: #FACFD6;
  color: #EB334D;
}

@mixin offline {
  background-color: #cccccc40;
  color: #777;
}

@mixin modal {
  width: 100vw;
  height: 100vh;
  background-color: #33333370;
  position: absolute;
  @include flex(arrow, center, center, 0)
}

@mixin card-modal($wd, $hg, $pd) {
  width: $wd;
  height: $hg;
  padding: $pd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  animation: expand forwards .2s;
}

@keyframes expand {
  from {
    transform: scale(.6);
    opacity: 0.6;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@mixin close-button {
  width: 100%;
  height: 10%;
  @include flex(row, flex-end, center, 0);
  padding: 0 .5vw;

  i {
    font-size: 2.4rem;
    color: $red;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}