/*
  Colors
 */

$red: #EC5353;
$background: #F4F5FA;
$age-orange: #fa860d;
$age-blue: #0f297d;
$input: #F4F4F4;
$input-fcs: #ECECEC;
$text: #555;
$text-menu: #777;
$text-dashboard: #838383;
$i-menu: #333;
$i-box: #F5F6FA;
$i-active-list: #eff0f2;
$i-hover: #fa860d;
$span-list-hover: #0f297d;
$border: #CCCCCC20;
$border-mid: #CCCCCC40;
$border-high: #CCCCCC80;
$hover-list: #F5F6FA;
$table-td-hover: #FAFAFC;
$table-tr-border: #CCCCCC40;
$text-th: #797c8a;
$text-td: #3b3838;